In [1]:
import pandas as pd
import numpy as np

In [64]:
csv_file_path = r'./training_wids2024C1.csv'
df = pd.read_csv(csv_file_path)

In [82]:
df.head()

1    Malig neoplm of upper-outer quadrant of right ...
2    Malignant neoplasm of central portion of left ...
3    Malig neoplasm of upper-inner quadrant of left...
4    Malignant neoplasm of breast (female), unspeci...
5    Malignant neoplasm of breast (female), unspeci...
6    Malignant neoplasm of unspecified site of left...
7    Malig neoplasm of lower-outer quadrant of left...
8    Malignant neoplasm of upper-outer quadrant of ...
9    Malignant neoplasm of unspecified site of left...
Name: breast_cancer_diagnosis_desc, dtype: object

In [135]:
pd.set_option('display.max_rows', None)


nullcounts = df.isnull().sum()
null_counts_filtered = nullcounts[nullcounts <10]

# Print the filtered result
print(null_counts_filtered)

pd.reset_option('display.max_rows')

patient_id                          0
patient_zip3                        0
patient_age                         0
patient_gender                      0
breast_cancer_diagnosis_code        0
breast_cancer_diagnosis_desc        0
metastatic_cancer_diagnosis_code    0
population                          1
density                             1
age_median                          1
age_under_10                        1
age_10_to_19                        1
age_20s                             1
age_30s                             1
age_40s                             1
age_50s                             1
age_60s                             1
age_70s                             1
age_over_80                         1
male                                1
female                              1
married                             1
divorced                            1
never_married                       1
widowed                             1
family_size                         4
family_dual_income                  4
income_household_median             4
income_household_under_5            4
income_household_5_to_10            4
income_household_10_to_15           4
income_household_15_to_20           4
income_household_20_to_25           4
income_household_25_to_35           4
income_household_35_to_50           4
income_household_50_to_75           4
income_household_75_to_100          4
income_household_100_to_150         4
income_household_150_over           4
income_household_six_figure         4
income_individual_median            1
home_ownership                      4
housing_units                       1
home_value                          4
rent_median                         4
rent_burden                         4
education_less_highschool           1
education_highschool                1
education_some_college              1
education_bachelors                 1
education_graduate                  1
education_college_or_above          1
education_stem_degree               1
labor_force_participation           1
unemployment_rate                   1
self_employed                       4
farmer                              4
race_white                          1
race_black                          1
race_asian                          1
race_native                         1
race_pacific                        1
race_other                          1
race_multiple                       1
hispanic                            1
disabled                            1
poverty                             4
limited_english                     4
commute_time                        1
health_uninsured                    1
veteran                             1
DiagPeriodL90D                      0
dtype: int64

In [25]:
df.shape

(12906, 83)

In [30]:
dropping patient_gender

,patient_id,patient_race,payer_type,patient_state,patient_zip3,patient_age,patient_gender,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,...,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Ozone,PM25,N02,DiagPeriodL90D
12901,674178,White,NaN,OH,436,50,F,32.11,C50411,Malig neoplm of upper-outer quadrant of right ...,...,17.400000,23.600000,0.864706,19.841176,6.300000,6.247059,38.753055,8.068682,21.140731,1
12902,452909,NaN,COMMERCIAL,CA,945,50,F,NaN,C50912,Malignant neoplasm of unspecified site of left...,...,11.243210,7.837037,5.411250,34.700000,3.845679,5.671605,36.469947,6.265266,10.728732,1
12903,357486,NaN,COMMERCIAL,CA,926,61,F,29.24,C50912,Malignant neoplasm of unspecified site of left...,...,8.845238,8.688095,5.280952,27.561905,4.404762,4.809524,42.070075,7.229393,15.894123,1
12904,935417,NaN,NaN,NY,112,37,F,31.00,1749,"Malignant neoplasm of breast (female), unspeci...",...,10.194737,18.642105,14.173684,42.502632,6.392105,1.755263,37.722740,7.879795,27.496367,0
12905,179597,Hispanic,MEDICAID,FL,336,29,F,NaN,C50412,Malig neoplasm of upper-outer quadrant of left...,...,10.988889,18.470370,11.777778,24.951852,11.759259,6.577778,37.228624,8.652507,16.436409,1

In [94]:
columns_to_sample = ['patient_id', 'patient_race', 'payer_type', 'patient_state', 'patient_age',
                     'breast_cancer_diagnosis_code','patient_gender', 'metastatic_cancer_diagnosis_code', 'metastatic_first_novel_treatment',
                      'Region', 'Division', 'population','density', 'Ozone','PM25', 'N02', 'DiagPeriodL90D']


sampled_df = df[columns_to_sample]

In [95]:
sampled_df.isnull().sum()

patient_id                              0
patient_race                         6385
payer_type                           1803
patient_state                          51
patient_age                             0
breast_cancer_diagnosis_code            0
patient_gender                          0
metastatic_cancer_diagnosis_code        0
metastatic_first_novel_treatment    12882
Region                                 52
Division                               52
population                              1
density                                 1
Ozone                                  29
PM25                                   29
N02                                    29
DiagPeriodL90D                          0
dtype: int64

preprocessing rule: drop the columns with more than 30% missing values in this case we drop patient race, metastatic_first novel treatment

In [98]:
sampled_df.drop('patient_race', axis = 1,inplace=True)

/var/folders/x8/8bvby9d128q0p10dt1mp3wgh0000gn/T/ipykernel_91796/2486499065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampled_df.drop('patient_race', axis = 1,inplace=True)

In [118]:
sampled_df.drop('patient_gender', axis = 1,inplace=True)

/var/folders/x8/8bvby9d128q0p10dt1mp3wgh0000gn/T/ipykernel_91796/60989584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampled_df.drop('patient_gender', axis = 1,inplace=True)

In [105]:
sampled_df['payer_type'].fillna('UNKNOWN', inplace=True)

/var/folders/x8/8bvby9d128q0p10dt1mp3wgh0000gn/T/ipykernel_91796/286433726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampled_df['payer_type'].fillna('UNKNOWN', inplace=True)

In [106]:
payer_type_counts = sampled_df.groupby('payer_type').size()

# Print the result
print(sum(payer_type_counts))
print(payer_type_counts)

12906
payer_type
COMMERCIAL            6032
MEDICAID              2569
MEDICARE ADVANTAGE    2502
UNKNOWN               1803
dtype: int64

In [57]:
non_null_values = df['metastatic_first_novel_treatment'].dropna()

# Print non-null values
print(len(non_null_values))

24

In [102]:
#since the values are so less we have to drop this column too 
sampled_df.drop('metastatic_first_novel_treatment', axis = 1,inplace=True)

In [108]:
rows_with_nan = sampled_df[sampled_df['patient_state'].isnull()]

# Print rows with NaN values in the 'payer_type' column
print(rows_with_nan[:10])

      patient_id          payer_type patient_state  patient_age  \
8         994014  MEDICARE ADVANTAGE           NaN           82
33        744114             UNKNOWN           NaN           83
316       178547             UNKNOWN           NaN           39
879       472026             UNKNOWN           NaN           79
912       333582            MEDICAID           NaN           66
1180      265749             UNKNOWN           NaN           58
1271      491813             UNKNOWN           NaN           63
1292      988642            MEDICAID           NaN           66
1878      378130             UNKNOWN           NaN           63
2406      160039            MEDICAID           NaN           61

     breast_cancer_diagnosis_code patient_gender  \
8                            1744              F
33                         C50111              F
316                        C50912              F
879                        C50911              F
912                        C50919              F
1180                         1749              F
1271                       C50411              F
1292                       C50911              F
1878                       C50912              F
2406                       C50911              F

     metastatic_cancer_diagnosis_code Region Division    population  \
8                               C7800    NaN      NaN  10110.907690
33                               C773    NaN      NaN  34958.921570
316                              C773    NaN      NaN   7373.672131
879                              C773    NaN      NaN  30701.428570
912                              C773    NaN      NaN  20525.000000
1180                            C7951    NaN      NaN  21449.130430
1271                             C779    NaN      NaN  30092.428570
1292                             C773    NaN      NaN  28244.567570
1878                             C770    NaN      NaN   2817.698795
2406                             C773    NaN      NaN  32045.777780

           density      Ozone      PM25        N02  DiagPeriodL90D
8       240.578462  36.323573  4.744352  10.439314               0
33     1716.927451  34.569793  7.593535  15.271043               1
316     126.463934  40.353886  6.165698  13.785169               0
879    3613.500000  43.390701  9.490371  20.082631               1
912    1218.842857  39.043346  6.205635  26.490223               1
1180    595.486957  46.520384  5.729758  17.403205               0
1271  21172.000000  36.932137  8.187273  26.380270               1
1292    848.864865  38.815047  7.927249  14.553126               1
1878     95.314458  37.814285  4.929433   9.553193               1
2406   3045.050794  34.729989  8.391862  16.166009               1

In [107]:
sampled_df.isnull().sum()

patient_id                           0
payer_type                           0
patient_state                       51
patient_age                          0
breast_cancer_diagnosis_code         0
patient_gender                       0
metastatic_cancer_diagnosis_code     0
Region                              52
Division                            52
population                           1
density                              1
Ozone                               29
PM25                                29
N02                                 29
DiagPeriodL90D                       0
dtype: int64

it looks like the division and region that were appended didnt know the patient state so they couldnt add their regiion division hence region division and sate are collective null and we can drop these as we cant add missing values to them

In [111]:
df_without_nulls = sampled_df.dropna(subset=['patient_state'])

In [112]:
df_without_nulls.isnull().sum()

patient_id                           0
payer_type                           0
patient_state                        0
patient_age                          0
breast_cancer_diagnosis_code         0
patient_gender                       0
metastatic_cancer_diagnosis_code     0
Region                               1
Division                             1
population                           1
density                              1
Ozone                               28
PM25                                28
N02                                 28
DiagPeriodL90D                       0
dtype: int64

In [113]:
sampled_df = sampled_df.dropna(subset=['patient_state','Region','Division','population','density','Ozone','PM25','N02'])

In [119]:
sampled_df.isnull().sum()

patient_id                          0
payer_type                          0
patient_state                       0
patient_age                         0
breast_cancer_diagnosis_code        0
metastatic_cancer_diagnosis_code    0
Region                              0
Division                            0
population                          0
density                             0
Ozone                               0
PM25                                0
N02                                 0
DiagPeriodL90D                      0
dtype: int64

In [120]:
sampled_df.head()

,patient_id,payer_type,patient_state,patient_age,breast_cancer_diagnosis_code,metastatic_cancer_diagnosis_code,Region,Division,population,density,Ozone,PM25,N02,DiagPeriodL90D
0,475714,MEDICAID,CA,84,C50919,C7989,West,Pacific,31437.75000,1189.562500,52.237210,8.650555,18.606528,1
1,349367,COMMERCIAL,CA,62,C50411,C773,West,Pacific,39121.87879,2295.939394,42.301121,8.487175,20.113179,1
2,138632,COMMERCIAL,TX,43,C50112,C773,South,West South Central,21996.68333,626.236667,40.108207,7.642753,14.839351,1
3,617843,COMMERCIAL,CA,45,C50212,C773,West,Pacific,32795.32558,1896.220930,42.070075,7.229393,15.894123,0
4,817482,COMMERCIAL,ID,55,1749,C773,West,Mountain,10886.26000,116.886000,41.356058,4.110749,11.722197,0

In [121]:
sampled_df.shape

(12825, 14)

In [122]:
sampled_df.dtypes

patient_id                            int64
payer_type                           object
patient_state                        object
patient_age                           int64
breast_cancer_diagnosis_code         object
metastatic_cancer_diagnosis_code     object
Region                               object
Division                             object
population                          float64
density                             float64
Ozone                               float64
PM25                                float64
N02                                 float64
DiagPeriodL90D                        int64
dtype: object

In [124]:
#we can use one hot encoding for payer type, patient state, and codes
# Assuming df is your DataFrame
# Define the columns to be one-hot encoded
columns_to_encode = ['payer_type', 'patient_state', 'breast_cancer_diagnosis_code', 'metastatic_cancer_diagnosis_code']

# Apply one-hot encoding
df_encoded = pd.get_dummies(sampled_df, columns=columns_to_encode)

# Print the encoded DataFrame

       patient_id  patient_age     Region            Division   population  \
0          475714           84       West             Pacific  31437.75000
1          349367           62       West             Pacific  39121.87879
2          138632           43      South  West South Central  21996.68333
3          617843           45       West             Pacific  32795.32558
4          817482           55       West            Mountain  10886.26000
...           ...          ...        ...                 ...          ...
12901      674178           50    Midwest  East North Central  19413.05882
12902      452909           50       West             Pacific  30153.87952
12903      357486           61       West             Pacific  32795.32558
12904      935417           37  Northeast     Middle Atlantic  71374.13158
12905      179597           29      South      South Atlantic  30205.48148

            density      Ozone      PM25        N02  DiagPeriodL90D  ...  \
0       1189.562500  52.237210  8.650555  18.606528               1  ...
1       2295.939394  42.301121  8.487175  20.113179               1  ...
2        626.236667  40.108207  7.642753  14.839351               1  ...
3       1896.220930  42.070075  7.229393  15.894123               0  ...
4        116.886000  41.356058  4.110749  11.722197               0  ...
...             ...        ...       ...        ...             ...  ...
12901   1196.805882  38.753055  8.068682  21.140731               1  ...
12902    976.289157  36.469947  6.265266  10.728732               1  ...
12903   1896.220930  42.070075  7.229393  15.894123               1  ...
12904  17326.407890  37.722740  7.879795  27.496367               0  ...
12905   1517.174074  37.228624  8.652507  16.436409               1  ...

       metastatic_cancer_diagnosis_code_C7960  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7961  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7962  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7970  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7971  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7972  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7981  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7982  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C7989  \
0                                        True
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
12901                                   False
12902                                   False
12903                                   False
12904                                   False
12905                                   False

       metastatic_cancer_diagnosis_code_C799
0                                      False
1                                      False
2                                      False
3                                      False
4                                      False
...                                      ...
12901                                  False
12902                                  False
12903                                  False
12904                                  False
12905                                  False

[12825 rows x 154 columns]

In [134]:
states = sampled_df.groupby('breast_cancer_diagnosis_code').size()
print(sum(states))

12825